
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-Br">
<head>
    <meta charset="UTF-8">
    <title>Crie sua conta</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/css/paginas-styles.css}" rel="stylesheet">
</head>
<body>
    <div id="header"></div>
    <div class="container" id="form">
        <h1 class="mt-5">Crie sua conta</h1>
        <div class="row col-md-8 offset-md-2">
            <div class="card">
                <div th:if="${param.success}">
                    <div class="alert alert-info">Você se registrou com sucesso no nosso app!</div>
                </div>
                <div class="card-header">
                    <h2 class="text-center">Registro</h2>
                </div>
                <div class="card-body">
                    <form method="post" role="form" th:action="@{/register/save}" th:object="${user}">

                        <input type="hidden" th:field="*{id}"/> 

                        <div class="form-group mb-3">
                            <label class="form-label" for="name">Nome</label>
                            <input class="form-control"
                                   id="name"
                                   name="name"
                                   placeholder="Digite seu nome"
                                   th:field="*{name}"
                                   type="text"
                            />
                            <p th:errors="*{name}" class="text-danger" th:if="${#fields.hasErrors('name')}"></p>
                        </div>

                        <div class="form-group mb-3">
                            <label class="form-label" for="lastname">Sobrenome</label>
                            <input class="form-control"
                                   id="lastname"
                                   name="lastname"
                                   placeholder="Digite seu sobrenome"
                                   th:field="*{lastname}"
                                   type="text"
                            />
                            <p th:errors="*{lastname}" class="text-danger" th:if="${#fields.hasErrors('lastname')}"></p>
                        </div>

                        <div class="form-group mb-3">
                            <label class="form-label" for="email">E-mail</label>
                            <input class="form-control"
                                   id="email"
                                   name="email"
                                   placeholder="Digite seu e-mail"
                                   th:field="*{email}"
                                   type="email"
                            />
                            <p th:errors="*{email}" class="text-danger" th:if="${#fields.hasErrors('email')}"></p>
                        </div>

                        <div class="form-group mb-3">
                            <label class="form-label" for="password">Senha</label>
                            <input class="form-control"
                                   id="password"
                                   name="password"
                                   placeholder="Digite sua senha"
                                   th:field="*{password}"
                                   type="password"
                            />
                            <p th:errors="*{password}" class="text-danger" th:if="${#fields.hasErrors('password')}"></p>
                        </div>

                        <div class="form-group mb-3">
                            <button class="btn btn-success" type="submit">Registrar</button>
                            <span>Já possui uma conta? <a th:href="@{/login}">Entrar aqui</a></span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="footer2"></div>
    <script th:src="@{/js/background.js}"></script>
    <script th:src="@{/js/loadHeaderFooter.js}"></script>
</body>
</html>
