<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-Br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.7">
    <title>Trabalhe Conosco</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link th:href="@{/css/paginas-styles.css}" rel="stylesheet">
</head>

<body>
    <div id="header"></div>
    <div id="paginas">
        <main class="careers">
            <section class="job-openings">
                <h2>Oportunidades</h2>
                <p>Estamos sempre em busca de profissionais apaixonados por animais para se juntar à nossa equipe. Confira as oportunidades atuais abaixo e envie seu currículo para o e-mail especificado.</p>
                <ul>
                    <li>
                        <h3>Veterinário</h3>
                        <p><strong>Descrição do cargo:</strong> O veterinário será responsável por realizar exames clínicos, diagnosticar e tratar doenças e lesões em animais, e oferecer orientações sobre cuidados preventivos e tratamentos para os tutores. O profissional deve ter habilidades excepcionais em comunicação e uma abordagem empática para lidar com pets e seus donos.</p>
                        <p><strong>Requisitos:</strong></p>
                        <ul>
                            <li>Formação em Medicina Veterinária com registro no CRMV.</li>
                            <li>Experiência mínima de 2 anos em clínica veterinária.</li>
                            <li>Habilidades em diagnóstico e tratamento de doenças comuns e emergenciais.</li>
                            <li>Excelentes habilidades de comunicação e atendimento ao cliente.</li>
                            <li>Capacidade de trabalhar em equipe e de forma independente.</li>
                        </ul>
                        <p><strong>Benefícios:</strong> Oferecemos um pacote de benefícios competitivo, incluindo plano de saúde, vale-alimentação, e oportunidades de treinamento e desenvolvimento profissional. Trabalhar conosco significa fazer parte de uma equipe que valoriza a excelência e o cuidado com os animais.</p>
                    </li>
                    <li>
                        <h3>Auxiliar de Petshop</h3>
                        <p><strong>Descrição do cargo:</strong> O auxiliar de petshop é responsável por apoiar as operações diárias do petshop, incluindo a organização e limpeza das instalações, atendimento ao cliente, e assistência no cuidado e manejo dos animais. O profissional deve ter uma atitude amigável e proativa para garantir um ambiente de trabalho eficiente e agradável.</p>
                        <p><strong>Requisitos:</strong></p>
                        <ul>
                            <li>Experiência prévia em atendimento ao cliente, preferencialmente em ambientes relacionados a animais.</li>
                            <li>Capacidade de realizar tarefas físicas e operacionais, como limpeza e organização.</li>
                            <li>Boa comunicação e habilidades interpessoais.</li>
                            <li>Paixão por animais e disposição para aprender sobre cuidados com pets.</li>
                            <li>Capacidade de trabalhar bem em equipe e seguir instruções de forma eficiente.</li>
                        </ul>
                        <p><strong>Benefícios:</strong> Oferecemos um ambiente de trabalho dinâmico e amigável, com oportunidades de crescimento e desenvolvimento profissional. Incluímos benefícios como vale-transporte e descontos em nossos serviços e produtos.</p>
                    </li>
                </ul>
            </section>
            <section class="application">
                <h2>Como se Candidatar</h2>
                <p>Envie seu currículo e carta de apresentação para <a href="mailto:carreiras@petshop.com">carreiras@pontearco-iris.com</a>. Esperamos ansiosos para conhecer você!</p>
            </section>
        </main>
    </div>
    <div id="footer3"></div>
    <script th:src="@{/js/background.js}"></script>
    <script th:src="@{/js/loadHeaderFooter.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>