<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link th:href="@{/css/paginas-styles.css}" rel="stylesheet">
    <title>Catálogo de Produtos</title>
</head>

<body>
    <div id="header"></div>
        <section id="paginas" class="featured-products py-5" >
            <div>
                <div class="card-title">
                    <h1>Produtos para cuidar do seu pet</h1>
                </div>
                <form class="d-flex mb-4" th:action="@{/produto/catalogo}" method="get" style="padding: 30px;">
                    <div class="row g-3">
                        <div class="col-md-4">
                            <input class="form-control" type="search" placeholder="Pesquisar produtos" aria-label="Search" name="query">
                        </div>
                        <div class="col-md-3">
                            <select class="form-select" name="categoria">
                                <option value="">Todas as Categorias</option>
                                <option value="Ração">Ração</option>
                                <option value="Brinquedos">Brinquedos</option>
                                <option value="Higiene">Higiene</option>
                                <option value="Camas">Camas</option>
                                <option value="Acessórios">Acessórios</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <input class="form-control" type="number" placeholder="Preço Mínimo" name="precoMin" step="0.01">
                        </div>
                        <div class="col-md-2">
                            <input class="form-control" type="number" placeholder="Preço Máximo" name="precoMax" step="0.01">
                        </div>
                        <div class="col-md-1">
                            <button  type="submit"class="apoint-button"
                            style="width: fit-content;font-size: 15px;height: fit-content;padding: 5px; text-decoration: none;color: white;border-style: outset;border-color: gold;background: linear-gradient(to top, #8d133f, #ff69b4); border-width: 2px;">Pesquisar</button>
                        </div>
                    </div>
                </form>
                <div class="products-container">
                    <th:block th:each="produto : ${produtos}">
                        <div class="card product-card border-0"  >
                            <a th:href="@{/produto/detalhes/{id}(id=${produto.id})}"
                                style="text-decoration: none; color: black;">
                                <img th:src="@{/imagens/{filename}(filename=${produto.imagemUrl})}" class="card-img-top "
                                    alt="Produto" style="width: 30vw; min-width: 100px;max-width: 150px;height: 30vw;min-height: 100px;max-height: 180px;">
                                <div class="card-body">
                                    <h5 class="card-title" th:text="${produto.nome}"></h5>
                                    <h5 class="card-title" th:text="${produto.preco}"></h5>
                                </div>
                            </a>
                        </div>
                    </th:block>
                </div>
            </div>
        </section>
    </div>
    <div id="footer3"></div>
    <script th:src="@{/js/background.js}"></script>
    <script th:src="@{/js/loadHeaderFooter.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>